<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dpc.web.mybatis3.mapper.ArticleMapper" >
  <resultMap id="BaseResultMap" type="article" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="category" property="category" jdbcType="TINYINT" />
    <result column="resource" property="resource" jdbcType="VARCHAR" />
    <result column="linkType" property="linkType" jdbcType="TINYINT" />
    <result column="videoUrl" property="videoUrl" jdbcType="VARCHAR" />
    <result column="H5Url" property="h5Url" jdbcType="VARCHAR" />
    <result column="coverImageUrl" property="coverImageUrl" jdbcType="VARCHAR" />
    <result column="postTime" property="postTime" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="illType" property="illType" jdbcType="TINYINT" />
    <result column="delFlag" property="delFlag" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="article" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, category, resource, linkType, videoUrl, H5Url, coverImageUrl, postTime, 
    type, illType, delFlag
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update t_article set delFlag=1 where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="article" >
    insert into t_article (id, title, category, 
      resource, linkType, videoUrl, 
      H5Url, coverImageUrl, postTime, 
      type, illType, delFlag, 
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{category,jdbcType=TINYINT}, 
      #{resource,jdbcType=VARCHAR}, #{linkType,jdbcType=TINYINT}, #{videoUrl,jdbcType=VARCHAR}, 
      #{h5Url,jdbcType=VARCHAR}, #{coverImageUrl,jdbcType=VARCHAR}, #{postTime,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{illType,jdbcType=TINYINT}, #{delFlag,jdbcType=TINYINT}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="article" >
    insert into t_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="resource != null" >
        resource,
      </if>
      <if test="linkType != null" >
        linkType,
      </if>
      <if test="videoUrl != null" >
        videoUrl,
      </if>
      <if test="h5Url != null" >
        H5Url,
      </if>
      <if test="coverImageUrl != null" >
        coverImageUrl,
      </if>
      <if test="postTime != null" >
        postTime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="illType != null" >
        illType,
      </if>
      <if test="delFlag != null" >
        delFlag,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=TINYINT},
      </if>
      <if test="resource != null" >
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        #{linkType,jdbcType=TINYINT},
      </if>
      <if test="videoUrl != null" >
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="h5Url != null" >
        #{h5Url,jdbcType=VARCHAR},
      </if>
      <if test="coverImageUrl != null" >
        #{coverImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null" >
        #{postTime,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="illType != null" >
        #{illType,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="article" >
    update t_article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=TINYINT},
      </if>
      <if test="resource != null" >
        resource = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        linkType = #{linkType,jdbcType=TINYINT},
      </if>
      <if test="videoUrl != null" >
        videoUrl = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="h5Url != null" >
        H5Url = #{h5Url,jdbcType=VARCHAR},
      </if>
      <if test="coverImageUrl != null" >
        coverImageUrl = #{coverImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null" >
        postTime = #{postTime,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="illType != null" >
        illType = #{illType,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        delFlag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="article" >
    update t_article
    set title = #{title,jdbcType=VARCHAR},
      category = #{category,jdbcType=TINYINT},
      resource = #{resource,jdbcType=VARCHAR},
      linkType = #{linkType,jdbcType=TINYINT},
      videoUrl = #{videoUrl,jdbcType=VARCHAR},
      H5Url = #{h5Url,jdbcType=VARCHAR},
      coverImageUrl = #{coverImageUrl,jdbcType=VARCHAR},
      postTime = #{postTime,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      illType = #{illType,jdbcType=TINYINT},
      delFlag = #{delFlag,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="article" >
    update t_article
    set title = #{title,jdbcType=VARCHAR},
      category = #{category,jdbcType=TINYINT},
      resource = #{resource,jdbcType=VARCHAR},
      linkType = #{linkType,jdbcType=TINYINT},
      videoUrl = #{videoUrl,jdbcType=VARCHAR},
      H5Url = #{h5Url,jdbcType=VARCHAR},
      coverImageUrl = #{coverImageUrl,jdbcType=VARCHAR},
      postTime = #{postTime,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      illType = #{illType,jdbcType=TINYINT},
      delFlag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getArticlePagerByType" resultType="article">
  	select * from t_article 
  	<where>
 	 	<if test="article.delFlag != null">
 	 		and delFlag = #{article.delFlag}
 	 	</if>
 	 	<if test="article.startDate != null and article.endDate != null">
 	 		and postTime >= #{article.startDate} and #{article.endDate} >= postTime
 	 	</if>
 	 	<if test="article.category != null">
 	 		and category = #{article.category}
 	 	</if>
 	 	<if test="article.type != null">
 	 		and type = #{article.type}
 	 	</if>
 	</where>
  	limit #{start},#{limit}
  </select>
  
  <select id="getArticleCountByType" resultType="java.lang.Integer">
 	 select count(*) from t_article 
 	 <where>
 	 	<if test="article.delFlag != null">
 	 		and delFlag = #{article.delFlag}
 	 	</if>
 	 	<if test="article.startDate != null and article.endDate != null">
 	 		and postTime >= #{article.startDate} and #{article.endDate} >= postTime
 	 	</if>
 	 	<if test="article.category != null">
 	 		and category = #{article.category}
 	 	</if>
 	 	<if test="article.type != null">
 	 		and type = #{article.type}
 	 	</if>
 	</where>
  </select>
  
  <select id="getArticleByTypeAndCategory" parameterType="java.lang.Integer" resultType="article">
  	select * from t_article where delFlag = 0 and type=#{0} and category=#{1}
  </select>
  
</mapper>