<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dpc.web.mybatis3.mapper.ArticleMapper" >
  <resultMap id="articleDetailMap" type="article" >
    	<id column="id" property="id" jdbcType="INTEGER" />
    	<result column="content" property="content" jdbcType="VARCHAR" />
    	<result column="title" property="title" jdbcType="VARCHAR" />
    	<result column="remarkCount" property="remarkCount" jdbcType="INTEGER" />
    	<result column="category" property="category" jdbcType="INTEGER" />
    	<result column="resource" property="resource" jdbcType="VARCHAR" />
    	<result column="linkType" property="linkType" jdbcType="INTEGER" />
    	<result column="linkUrl" property="linkUrl" jdbcType="VARCHAR" />
    	<result column="coverImageUrl" property="coverImageUrl" jdbcType="VARCHAR" />
    	<result column="postTime" property="postTime" jdbcType="VARCHAR" />
    	<collection property="remarkList" ofType="articleRemark">
			<id column="rid" property="id" jdbcType="INTEGER" />
    		<result column="remark" property="remark" jdbcType="VARCHAR" />
    		<result column="remarkTime" property="postTime" jdbcType="VARCHAR" />
    		<result column="name" property="name" jdbcType="VARCHAR" />
    		<result column="profileImageUrl" property="profileImageUrl" jdbcType="VARCHAR" />
    	</collection>
    </resultMap>
    
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="article">
  	select * from t_article where id = #{0} and delFlag=0
  </select>
  
  <select id="getArticleDetailById" parameterType="java.lang.Integer" resultType="article">
  	select * from t_article where id = #{0} 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    update t_article set delFlag=1 where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective" parameterType="article" >
    insert into t_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="category != null" >
        category,
      </if>
      <if test="resource != null" >
        resource,
      </if>
      <if test="linkType != null" >
        linkType,
      </if>
      <if test="linkUrl != null" >
        linkUrl,
      </if>
      <if test="coverImageUrl != null" >
        coverImageUrl,
      </if>
      <if test="postTime != null" >
        postTime,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="illType != null" >
        illType,
      </if>
      <if test="delFlag != null" >
        delFlag,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="remarkCount != null" >
        remarkCount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=TINYINT},
      </if>
      <if test="resource != null" >
        #{resource,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        #{linkType,jdbcType=TINYINT},
      </if>
      <if test="linkUrl != null" >
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="coverImageUrl != null" >
        #{coverImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null" >
        #{postTime,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="illType != null" >
        #{illType,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="remarkCount != null" >
        #{remarkCount},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="article" >
    update t_article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        category = #{category,jdbcType=TINYINT},
      </if>
      <if test="resource != null" >
        resource = #{resource,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        linkType = #{linkType,jdbcType=TINYINT},
      </if>
      <if test="linkUrl != null" >
        linkUrl = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="coverImageUrl != null" >
        coverImageUrl = #{coverImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="postTime != null" >
        postTime = #{postTime,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="illType != null" >
        illType = #{illType,jdbcType=TINYINT},
      </if>
      <if test="delFlag != null" >
        delFlag = #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="remarkCount != null" >
        remarkCount = #{remarkCount},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="article" >
    update t_article
    set title = #{title,jdbcType=VARCHAR},
      category = #{category,jdbcType=TINYINT},
      resource = #{resource,jdbcType=VARCHAR},
      linkType = #{linkType,jdbcType=TINYINT},
      videoUrl = #{videoUrl,jdbcType=VARCHAR},
      H5Url = #{h5Url,jdbcType=VARCHAR},
      coverImageUrl = #{coverImageUrl,jdbcType=VARCHAR},
      postTime = #{postTime,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      illType = #{illType,jdbcType=TINYINT},
      delFlag = #{delFlag,jdbcType=TINYINT},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getArticlePagerByType" resultType="article">
  	select 
  		id,
  		illType,
  		category,
  		title,
  		coverImageUrl,
  		date_format(postTime, '%Y-%m-%d %H:%i:%s') as postTime,
  		delFlag
  	from t_article 
  	<where>
 	 	<if test="article.delFlag != null">
 	 		and delFlag = #{article.delFlag}
 	 	</if>
 	 	<if test="article.startDate != null and article.endDate != null">
 	 		and postTime >= #{article.startDate} and #{article.endDate} >= postTime
 	 	</if>
 	 	<if test="article.category != null">
 	 		and category = #{article.category}
 	 	</if>
 	 	<if test="article.illType != null">
 	 		and illType = #{article.illType}
 	 	</if>
 	 	<if test="article.type != null">
 	 		and type = #{article.type}
 	 	</if>
 	</where>
  	limit #{start},#{limit}
  </select>
  
  <select id="getArticleCountByType" resultType="java.lang.Integer">
 	 select count(*) from t_article 
 	 <where>
 	 	<if test="article.delFlag != null">
 	 		and delFlag = #{article.delFlag}
 	 	</if>
 	 	<if test="article.startDate != null and article.endDate != null">
 	 		and postTime >= #{article.startDate} and #{article.endDate} >= postTime
 	 	</if>
 	 	<if test="article.category != null">
 	 		and category = #{article.category}
 	 	</if>
 	 	<if test="article.type != null">
 	 		and type = #{article.type}
 	 	</if>
 	</where>
  </select>
  
  <select id="getArticleByTypeAndCategory" parameterType="java.lang.Integer" resultType="article">
  	select * from t_article where delFlag = 0 and type=#{0} and category=#{1}
  </select>
  
   <select id="getArticlesByIllType" parameterType="java.lang.Integer" resultType="article">
  	select * from t_article where delFlag = 0 and type=2 and category=7 and illType = #{0} order by postTime desc
  </select>
   <select id="getArticlesLately" resultType="article">
  	select * from t_article where delFlag = 0 and type=2 and category=7  order by postTime desc
  </select>

   <select id="getHeartVedioList" parameterType="article"  resultType="article">
  	select * from t_article 
  	<where>
  		delFlag = 0 and type=2 and category=6
  		<if test="illType != null"> and illType = #{illType}</if>
  	</where>
  	order by postTime desc
  </select>
  
   <select id="getCartoonList" parameterType="article" resultType="article">
  	select * from t_article 
  	<where>
  		delFlag = 0 and type=2 and category=5
  		<if test="illType != null"> and illType = #{illType}</if>
  	</where>
  	 order by postTime desc
  </select>
  
  <select id="getArticleDetail" parameterType="java.lang.Integer" resultMap="articleDetailMap">
 	SELECT 
		a.content,
		a.remarkCount,
		a.resource,
		a.linkType,
		a.linkUrl,
		a.coverImageUrl,
		a.postTime,
		a.title,
		b.remark,
		date_format(b.postTime, '%Y-%m-%d %H:%i:%s') as remarkTime,
		b.remark,
		u.`name`,
		u.profileImageUrl
    from t_article a LEFT JOIN t_article_remark b on a.id=b.articleId LEFT JOIN t_user u on u.id=b.userId where a.id=#{0}
  </select>
</mapper>