<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dpc.web.mybatis3.mapper.DiscoveryMapper" >
  <resultMap id="BaseResultMap" type="discovery" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="profileImageUrl" property="profileImageUrl" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="voteCount" property="voteCount" jdbcType="INTEGER" />
    <result column="remarkCount" property="remarkCount" jdbcType="INTEGER" />
    <result column="postTime" property="postTime" jdbcType="TIMESTAMP" />
    <result column="delFlag" property="delFlag" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="discoveryDetailMap" type="discovery" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="profileImageUrl" property="profileImageUrl" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="remarkCount" property="remarkCount" jdbcType="INTEGER" />
    <result column="postTime" property="postTime" jdbcType="TIMESTAMP" />
     <collection property="remarkList" ofType="discoveryRemark">
    	<result column="remarkUserName" property="remarkUserName" jdbcType="VARCHAR" />
    	<result column="remarkUserProfile" property="remarkUserProfile" jdbcType="VARCHAR" />
    	<result column="remark" property="remark" jdbcType="VARCHAR" />
    	<result column="remarkPostTime" property="postTime" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  <resultMap id="discoveryAndImageMap" type="discovery" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="postTime" property="postTime" jdbcType="TIMESTAMP" />
     <collection property="imageList" ofType="discoveryImage">
    	<id column="rid" property="id" jdbcType="INTEGER" />
    	<result column="imageUrl" property="imageUrl" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  
  
  <sql id="Base_Column_List" >
    id, username, profileImageUrl, content, voteCount, remarkCount, postTime, delFlag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from p_discovery
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from p_discovery
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="discovery" >
    insert into p_discovery (id, username, profileImageUrl, 
      content, voteCount, remarkCount, 
      postTime, delFlag)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{profileImageUrl,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{voteCount,jdbcType=INTEGER}, #{remarkCount,jdbcType=INTEGER}, 
      #{postTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="discovery" useGeneratedKeys="true" keyProperty="id">
    insert into p_discovery
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="voteCount != null" >
        voteCount,
      </if>
      <if test="remarkCount != null" >
        remarkCount,
      </if>
      <if test="postTime != null" >
        postTime,
      </if>
      <if test="delFlag != null" >
        delFlag,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="voteCount != null" >
        #{voteCount,jdbcType=INTEGER},
      </if>
      <if test="remarkCount != null" >
        #{remarkCount,jdbcType=INTEGER},
      </if>
      <if test="postTime != null" >
        #{postTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=TINYINT},
      </if>
      <if test="type != null" >
        #{type},
      </if>
    </trim>
  </insert>
  <insert id="addDiscoveryImage" parameterType="discoveryImage" >
    insert into p_discovery_image
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="discoveryId != null" >
        discoveryId,
      </if>
      <if test="imageUrl != null" >
        imageUrl,
      </if>
      <if test="delFlag != null" >
        delFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="discoveryId != null" >
        #{discoveryId},
      </if>
      <if test="imageUrl != null" >
        #{imageUrl},
      </if>
      <if test="delFlag != null" >
        #{delFlag},
      </if>
    </trim>
  </insert>
  <insert id="addDiscoveryRemark" parameterType="discoveryRemark" >
    insert into p_discovery_remark
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="discoveryId != null" >
        discoveryId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="postTime != null" >
        postTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="discoveryId != null" >
        #{discoveryId},
      </if>
      <if test="userId != null" >
        #{userId},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
      <if test="postTime != null" >
        #{postTime},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="discovery" >
    update p_discovery
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="profileImageUrl != null" >
        profileImageUrl = #{profileImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="voteCount != null" >
        voteCount = #{voteCount,jdbcType=INTEGER},
      </if>
      <if test="remarkCount != null" >
        remarkCount = #{remarkCount,jdbcType=INTEGER},
      </if>
      <if test="postTime != null" >
        postTime = #{postTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        delFlag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="discovery" >
    update p_discovery
    set username = #{username,jdbcType=VARCHAR},
      profileImageUrl = #{profileImageUrl,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      voteCount = #{voteCount,jdbcType=INTEGER},
      remarkCount = #{remarkCount,jdbcType=INTEGER},
      postTime = #{postTime,jdbcType=TIMESTAMP},
      delFlag = #{delFlag,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getDiscoveryList" resultType="discovery">
  	select 
  		d.id,
		d.userId,
		d.content,
		d.voteCount,
		d.remarkCount,
		d.postTime,
		u.name,
		u.profileImageUrl
  	from p_discovery d left join t_user u on d.userId=u.id
  	where delFlag=0 order by postTime desc
  </select>
  
  <select id="getDiscoveryImageListByDiscoveryId" parameterType="java.lang.Integer" resultType="discoveryImage">
  		select imageUrl from p_discovery_image where discoveryId = #{0} and delFlag = 0 order by id asc
  </select>
  
  <select id="getDiscoveryDetail" parameterType="java.lang.Integer" resultMap="discoveryDetailMap">
	select 
		a.id,
		a.content,
		a.postTime,
		a.remarkCount,
		a.name,
		a.profileImageUrl,
		b.remarkUserName,
		b.remarkUserProfile,
		b.remark,
		b.postTime AS remarkPostTime
	from (select discovery.id id,discovery.delFlag delFlag,discovery.content content,discovery.postTime postTime,discovery.remarkCount remarkCount,user.name name,user.profileImageUrl profileImageUrl  from p_discovery discovery left JOIN t_user user on discovery.userId=user.id ) a
	left join (select discoveryId,remark,dr.postTime,u.name remarkUserName,u.profileImageUrl remarkUserProfile from p_discovery_remark dr left join t_user u on dr.userId=u.id) b  on a.id=b.discoveryId
	where a.id = #{0} and a.delFlag=0 
  </select>
  
  <select id="findDiscoveryByPaginaton" parameterType="discovery" resultMap="discoveryAndImageMap">
 	 SELECT a.id,u.username,a.content,DATE_FORMAT(a.postTime, "%Y-%m-%d %H:%i:%s") postTime,b.imageUrl from 
 	 (select id,content,postTime,type,delFlag,userid from p_discovery 
 	 	<where>
 	 		 delFlag = 0
 	 		 <if test="discovery.type != null">
	 	 		and type = #{discovery.type}
	 	 	</if>
 	 	</where>
 	 	order by postTime desc
 	   limit #{start},#{limit}) a
 	 left join t_user u on a.userid=u.id 
 	 left join  p_discovery_image  b on a.id=b.discoveryId
  	 <where>
 	 	<if test="discovery.username != null">
 	 		and u.username = #{discovery.username}
 	 	</if>
 	 	<if test="discovery.postTime != null">
 	 		and a.postTime = DATE_FORMAT(#{discovery.postTime}, "%Y-%m-%d %H:%i:%s")
 	 	</if>
 	</where>
  </select>
  <select id="findDiscoveryTotal" resultType="java.lang.Integer" parameterType="discovery">
  SELECT count(distinct(a.id)) from p_discovery a 
 	 left join t_user u on a.userid=u.id 
 	 left join  p_discovery_image b on a.id=b.discoveryId
  	 <where>
  		a.delFlag = 0 and b.delFlag = 0
 	 	<if test="discovery.username != null">
 	 		and u.username = #{discovery.username}
 	 	</if>
 	 	<if test="discovery.type != null">
 	 		and a.type = #{discovery.type}
 	 	</if>
 	 	<if test="discovery.postTime != null">
 	 		and DATE_FORMAT(a.postTime, "%Y-%m-%d") = #{discovery.postTime}
 	 	</if>
 	</where>
  </select>
	
	<select id="getDiscoveryImageDetail" parameterType="java.lang.Integer" resultMap="discoveryAndImageMap">
		 SELECT a.id,u.username,a.content,DATE_FORMAT(a.postTime, "%Y-%m-%d %l:%i:%s") postTime,b.imageUrl from p_discovery a 
	 	 left join t_user u on a.userid=u.id 
	 	 left join  p_discovery_image b on a.id=b.discoveryId
	  	 where a.id = #{0}
	</select>
</mapper>