<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpc.web.mybatis3.mapper.DoctorMapper">
	<select id="getAllDoctorList" parameterType="pageEntity" resultType="doctorVO">
		select 
			u.id,u.username,u.name,d.hospital,d.department,d.address,d.technicalTitle,d.score,d.verifyed,u.registerTime
	    	from t_user u left join t_doctor d on u.id=d.userId order by registerTime
		<if test="rows != null">
	        limit #{offset},#{rows}
	    </if>
	</select>
	
	<select id="getDoctorList" parameterType="doctor" resultType="doctor">
		select * from t_doctor
		<where>
			<if test="id!=null">
				id = #{id}
			</if>
		</where>
	</select>
	
	<insert id="addDoctor" parameterType="doctor" >
	    insert into t_doctor
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="userId != null" >
	        userId,
	      </if>
	      <if test="hospital != null" >
	        hospital,
	      </if>
	      <if test="score != null" >
	        score,
	      </if>
	      <if test="department != null" >
	        department,
	      </if>
	      <if test="address != null" >
	        address,
	      </if>
	      <if test="technicalTitle != null" >
	        technicalTitle,
	      </if>
	      <if test="teachingTitle != null" >
	        teachingTitle,
	      </if>
	      <if test="verifyed != null" >
	        verifyed,
	      </if>
	      <if test="totalPatient != null" >
	        totalPatient,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="userId != null" >
	        #{userId,jdbcType=INTEGER},
	      </if>
	      <if test="hospital != null" >
	        #{hospital,jdbcType=VARCHAR},
	      </if>
	      <if test="score != null" >
	        #{score,jdbcType=INTEGER},
	      </if>
	      <if test="department != null" >
	        #{department,jdbcType=VARCHAR},
	      </if>
	      <if test="address != null" >
	        #{address,jdbcType=VARCHAR},
	      </if>
	      <if test="technicalTitle != null" >
	        #{technicalTitle,jdbcType=VARCHAR},
	      </if>
	      <if test="teachingTitle != null" >
	        #{teachingTitle,jdbcType=VARCHAR},
	      </if>
	      <if test="verifyed != null" >
	        #{verifyed,jdbcType=INTEGER},
	      </if>
	      <if test="totalPatient != null" >
	        #{totalPatient,jdbcType=INTEGER},
	      </if>
	    </trim>
  </insert>
  
  <update id="updateDoctor" parameterType="doctor">
  	update t_doctor 
  	<set>
  		<if test="crtWithPhotoUrl != null">crtWithPhotoUrl=#{crtWithPhotoUrl},</if>
  		<if test="crtWithNameUrl != null">crtWithNameUrl=#{crtWithNameUrl},</if>
  		<if test="hospital != null and hospital != ''">hospital=#{hospital},</if>
  		<if test="technicalTitle != null and technicalTitle != ''">technicalTitle=#{technicalTitle},</if>
  		<if test="teachingTitle != null and teachingTitle != ''">teachingTitle=#{teachingTitle},</if>
  		<if test="department != null and department != ''">department=#{department},</if>
  	</set>
  	<where>
  		<if test="id != null">id=#{id}</if>
  	</where>
  </update>
  
  <!-- 医生发布广告语 -->
 <insert id="addAnnouncement" parameterType="announcement">
 	insert into p_announcement(doctorId,content,imageUrl,delFlag,postTime) values(#{doctorId},#{content},)#{imageUrl},#{delFlag},#{postTime}
 </insert>
 <select id="getAnnouncementByDoctorId" parameterType="java.lang.Integer" resultType="announcement">
 	select * from p_announcement where doctorId = #{0} and delFlag = 0
 </select>
 <update id="delAnnouncement" parameterType="java.lang.Integer">
 	update p_announcement set delFlag = 1 where doctorId = #{0}
 </update>
 
 <select id="getDoctorListWithPager" parameterType="doctor" resultType="doctorVO">
 	select  u.id,u.username,u.name,d.hospital,d.department,d.address,d.technicalTitle,date_format(u.registerTime, '%Y-%m-%d %k:%i') as registerTime ,d.verifyed,d.score
	from t_user u left join t_doctor d on u.id=d.userId order by registerTime
	limit #{start},#{limit}
<!--   	<where> -->
<!--  	 	<if test="article.delFlag != null"> -->
<!--  	 		and delFlag = #{article.delFlag} -->
<!--  	 	</if> -->
<!--  	 	<if test="article.startDate != null and article.endDate != null"> -->
<!--  	 		and postTime >= #{article.startDate} and #{article.endDate} >= postTime -->
<!--  	 	</if> -->
<!--  	 	<if test="article.category != null"> -->
<!--  	 		and category = #{article.category} -->
<!--  	 	</if> -->
<!--  	 	<if test="article.type != null"> -->
<!--  	 		and type = #{article.type} -->
<!--  	 	</if> -->
<!--  	</where> -->
 </select>
 
 <select id="getAllDoctorCount" parameterType="doctor" resultType="java.lang.Integer">
 	select  count(*)
	from   t_doctor 
 </select>
</mapper>