<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dpc.web.mybatis3.mapper.ExchangeHistoryMapper" >
  <resultMap id="BaseResultMap" type="exchangeHistory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="doctorId" property="doctorId" jdbcType="INTEGER" />
    <result column="exchageTime" property="exchageTime" jdbcType="TIMESTAMP" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, doctorId, exchageTime, score, money, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from d_exchage_history
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" parameterType="exchangeHistory" >
    insert into d_exchage_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="doctorId != null" >
        doctorId,
      </if>
      <if test="exchageTime != null" >
        exchageTime,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="exchageTime != null" >
        #{exchageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="exchangeHistory" >
    update d_exchage_history
    <set >
      <if test="doctorId != null" >
        doctorId = #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="exchageTime != null" >
        exchageTime = #{exchageTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getMyExchangeHistoryList" parameterType="java.lang.Integer" resultType="exchangeHistory">
  	select 
  		date_format(exchageTime, '%Y-%m-%d %k:%i:%s') exchageTime,
  		score,
  		money
  	 from d_exchage_history where doctorId = #{0} order by exchageTime desc
  </select>
  
  
</mapper>