<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dpc.web.mybatis3.mapper.HospitalMapper" >
  <resultMap id="BaseResultMap" type="hospital" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hospital" property="hospital" jdbcType="VARCHAR" />
    <result column="locate" property="locate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hospital, locate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_hospital
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_hospital
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="hospital" >
    insert into t_hospital (id, hospital, locate
      )
    values (#{id,jdbcType=INTEGER}, #{hospital,jdbcType=VARCHAR}, #{locate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="hospital" >
    insert into t_hospital
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hospital != null" >
        hospital,
      </if>
      <if test="locate != null" >
        locate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hospital != null" >
        #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="locate != null" >
        #{locate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hospital" >
    update t_hospital
    <set >
      <if test="hospital != null" >
        hospital = #{hospital,jdbcType=VARCHAR},
      </if>
      <if test="locate != null" >
        locate = #{locate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="hospital" >
    update t_hospital
    set hospital = #{hospital,jdbcType=VARCHAR},
      locate = #{locate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getHospitalByIDs" resultType="hospital">
  	select id,hospital from t_hospital where locate = #{0}
  </select>
</mapper>