<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpc.web.mybatis3.mapper.UserMapper">
	<insert id="addUser" parameterType="user" useGeneratedKeys="true" keyProperty="id">
    	insert into t_user
    	<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="username != null" >username,</if>
      		<if test="password != null" >password,</if>
      		<if test="registerTime != null" >registerTime,</if>
      		<if test="salt != null" >salt,</if>
      		<if test="registerType != null" >registerType</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="username != null" >#{username},</if>
      		<if test="password != null" >#{password},</if>
      		<if test="registerTime != null" >#{registerTime},</if>
      		<if test="salt != null" >#{salt},</if>
      		<if test="registerType != null" >#{registerType},</if>
    	</trim>
	</insert>
	
	<select id="getUser" parameterType="user" resultType="user">
		select * from t_user 
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="username != null">
				username = #{username}
			</if>
			<if test="mobile != null">
				mobile = #{mobile}
			</if>
		</where>
	</select>
	<select id="getUserById" parameterType="java.lang.Integer" resultType="user">
		select * from t_user where id = #{0}
	</select>
	
	<update id="updateUser" parameterType="user">
		update t_user 
		<set>
			<if test="password != null and password != ''">password = #{password},</if>
			<if test="agender != null and agender != ''">agender = #{agender},</if>
			<if test="birthday != null and birthday != ''">birthday = #{birthday},</if>
			<if test="name != null and name != ''">name = #{name},</if>
			<if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
			<if test="profileImageUrl != null and profileImageUrl != ''">profileImageUrl = #{profileImageUrl}</if>
		</set>
		where id = #{id}
	</update>
	
	<select id="getDoctorByDoctorIdentity" resultType="user">
		select u.* from t_user u inner join t_doctor d on u.id=d.userId and d.doctorIdentityPlain = #{0}
	</select>
	
</mapper>