<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC 
		"-//mybatis.org//DTD Config 3.0//EN" 
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings><setting name="logImpl" value="LOG4J"/></settings>
	<typeAliases>
		<typeAlias alias="user" type="com.dpc.web.mybatis3.domain.User"/>
		<typeAlias alias="doctor" type="com.dpc.web.mybatis3.domain.Doctor"/>
		<typeAlias alias="pageEntity" type="com.dpc.utils.PageEntity"/>
		<typeAlias alias="doctorVO" type="com.dpc.web.VO.DoctorVO"/>
		<typeAlias alias="interface" type="com.dpc.web.mybatis3.domain.Interface"/>
		<typeAlias alias="interfaceCategory" type="com.dpc.web.mybatis3.domain.InterfaceCategory"/>
		<typeAlias alias="errorCode" type="com.dpc.web.mybatis3.domain.ErrorCode"/>
		<typeAlias alias="medicalDynamic" type="com.dpc.web.mybatis3.domain.MedicalDynamic"/>
		
		<typeAlias alias="diagnoseExperience" type="com.dpc.web.mybatis3.domain.DiagnoseExperience"/>
		<typeAlias alias="diagnoseExperienceImage" type="com.dpc.web.mybatis3.domain.DiagnoseExperienceImage"/>
		<typeAlias alias="diagnoseExperienceRemark" type="com.dpc.web.mybatis3.domain.DiagnoseExperienceRemark"/>
		
		<typeAlias alias="heartCircle" type="com.dpc.web.mybatis3.domain.HeartCircle"/>
		<typeAlias alias="heartCircleImage" type="com.dpc.web.mybatis3.domain.HeartCircleImage"/>
		<typeAlias alias="heartCircleRemark" type="com.dpc.web.mybatis3.domain.HeartCircleRemark"/>
		
		<typeAlias alias="article" type="com.dpc.web.mybatis3.domain.Article"/>
		<typeAlias alias="discovery" type="com.dpc.web.mybatis3.domain.Discovery"/>
		<typeAlias alias="discoveryImage" type="com.dpc.web.mybatis3.domain.DiscoveryImage"/>
		<typeAlias alias="discoveryRemark" type="com.dpc.web.mybatis3.domain.DiscoveryRemark"/>
		<typeAlias alias="patient" type="com.dpc.web.mybatis3.domain.Patient"/>
		<typeAlias alias="patientVO" type="com.dpc.web.VO.PatientVO"/>
		
		<typeAlias alias="wish" type="com.dpc.web.mybatis3.domain.Wish"/>
		<typeAlias alias="wishRemark" type="com.dpc.web.mybatis3.domain.WishRemark"/>
		<typeAlias alias="wishVO" type="com.dpc.web.VO.WishVO"/>
		<typeAlias alias="announcement" type="com.dpc.web.mybatis3.domain.Announcement"/>
		<typeAlias alias="academicSupport" type="com.dpc.web.mybatis3.domain.AcademicSupport"/>
		<typeAlias alias="doctorPatientRelation" type="com.dpc.web.mybatis3.domain.DoctorPatientRelation"/>
		<typeAlias alias="feedBack" type="com.dpc.web.mybatis3.domain.FeedBack"/>
	</typeAliases>
</configuration>